/* применяем стиль к элементам тега table  */
table {
    /* указываем на расстояние между ячейками */
    border-spacing: 0;
    /* указываем внешний отступ */
    margin: auto;
}

td {
    /* определяем стиль границы */
    /* первое значение (1px) - ширина границы */
    /* второе значение (solid) - вид линии, в данном случае - сплошная */
    /* третье значеине (black) - цвет линии */
    border: 1px solid black;
    /* задаем внутренний отступ элемента */
    padding: 12px;
}

thead td {
    /* выравнивание текста внутри элемента */
    text-align: center;
}

/* с помощью псевдокласс :nth-child(n) обращаемся к элементу по его порядковому номеру в документе */
tbody td:nth-child(1),
tbody td:nth-child(3) {
    text-align: center;
}

td img {
    /* высота всегда будет равна высоте родительского блока */
    height: 100%;
    /* но не будет превышать 100px */
    max-height: 100px;
}

td ul {
    padding: 16px;
}
