* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #4C4D7C;
}

svg {
    width: 90%;
    transition: 0.25s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: #5C5E97;
    text-align: center;
    font-size: 22pt;
    font-weight: normal;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    background: none;
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
    color: #7D7EAC;
    opacity: 0.5;
}

.obj {
    position: absolute;
    transition: 2s;
    z-index: 100;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /*background-image: url('https://iengo.ru/e/img/back.svg');*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}

.content .mill {
    width: 100%;
    max-width: 640px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(138, 153, 244, 0.5) 0%, rgba(138, 153, 244, 0) 50%);
    z-index: 99;
}

#amogus {
    transition: 0.5s;
    cursor: pointer;
}

#door {
    transition: 0.5s;
}

.person {
    position: absolute;
    left: calc(50% - 360px);
    top: 96px;
    z-index: 101;
}

.person__block {
    font-size: 8pt;
    margin-bottom: 16px;
}

.person__block div {
    background: white;
    border-radius: 12px;
    padding: 6px 12px;
    display: inline-block;
    vertical-align: top;
}

.person__block img {
    width: 24px;
    border-radius: 12px;
    background: white;
    margin-right: 4px;
}

#log__top_1,
#log__top_2,
#log__down_1,
#log__down_2 {
    transition: 0.25s;
}

.island {
    fill: #6E4877;
    fill-rule: nonzero;
}

.islandStr {
    fill: black;
    fill-rule: nonzero;
    fill-opacity: 0.200000;
}

.amongStr {
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 22.9256
}

.amongFill {
    fill: #D4D748;
}

.btn__design,
.btn__webcode {
    position: fixed;
    width: 200px;
    text-align: center;
    padding: 12px 0px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16pt;
    cursor: pointer;
    z-index: 101;
    bottom: -200px;
    transition: 0.5s;
    box-sizing: border-box;
}

.btn__design {
    background: #c24e4e;
    color: #fff;
    left: calc(50% - 212px);
}

.btn__webcode {
    background: #61AEEE;
    color: #282C34;
    right: calc(50% - 212px);
}

.btn__design:hover {
    background: #D4D748;
    color: #333;
    margin-bottom: 12px;
}

.btn__webcode:hover {
    background: #282C34;
    color: #61AEEE;
    margin-bottom: 12px;
}

.block__webcode,
.block__design {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition: 0.25s;
    z-index: 102;
    box-sizing: border-box;
    padding: 64px 25%;
}

.block__design {
    background: #D4D748;
    color: #333;
    left: 0;
}

.block__webcode {
    background: #282C34;
    color: #61AEEE;
    right: 0;
}

.block__webcode div.block__title,
.block__design div.block__title {
    font-size: 48pt;
    font-weight: bold;
    transition: 0.25s;
    white-space: nowrap;
    line-height: 0.8em;
}

.btn__design:hover div.block__title span,
.block__design div.block__title span {
    animation: text__change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #C9007A 0%, #6C0AAB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.25s;
}

.block__desc {
    font-size: 12pt;
    font-weight: normal;
    margin-left: 72px;
    margin-top: 36px;
    max-width: 480px;
    width: 100%;
    box-sizing: border-box;
}

.block__design .block__desc {
    color: #333;
}

.block__webcode .block__desc {
    color: #ABB2BF;
}

.block__desc .btn__link_form,
.block__desc .btn__link_doc {
    padding: 12px 0px;
    color: white;
    font-size: 16pt;
    margin-top: 24px;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
}

.block__design .block__desc .btn__link_form,
.block__design .block__desc .btn__link_doc {
    background: #333;
    color: #D4D748;
}

.block__webcode .block__desc .btn__link_form,
.block__webcode .block__desc .btn__link_doc {
    background: #61AEEE;
    color: #282C34;
}

.btn__link_doc:hover,
.btn__link_form:hover {
    opacity: 0.9;
}

.btn__close {
    position: fixed;
    top: -48px;
    right: calc(20% - 48px);
    z-index: 110;
    width: 24px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.btn__close img {
    width: 100%;
}

.btn__close:hover {
    transform: rotate(30deg);
}

@keyframes text__change {
    0% {
        background: linear-gradient(90deg, #C9007A 0%, #6C0AAB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: linear-gradient(90deg, #C9007A 0%, #6C0AAB 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(90deg, #C9007A 0%, #6C0AAB 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(90deg, #C9007A 0%, #6C0AAB 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (max-width: 480px) {
    .content {
        background-size: auto 75%;
    }

    header {
        font-size: 24px;
    }

    footer {
        font-size: 12px;
    }

    .person {
        left: 24px;
        top: 96px;
    }

    .btn__design {
        width: 44%;
        left: 4%;
    }

    .btn__webcode {
        width: 44%;
        right: 4%;
    }

    .btn__close {
        right: 24px;
    }

    .block__webcode,
    .block__design {
        padding: 64px 24px;
    }

    .block__desc {
        font-size: 12pt;
        margin-left: 4px;
        margin-top: 28px;
        width: 100%;
    }

    .btn__link_doc,
    .btn__link_form {
        margin-left: -4px;
    }

    .block__webcode div.block__title,
    .block__design div.block__title {
        font-size: 42pt;
        white-space: normal;
    }
}
